<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/posts.css">
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/root.css">
        
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    
        {{!-- <script src="scripts/script.js" defer></script>
        <script src="scripts/main.js" defer></script> --}}
        <script src ="scripts/scripts.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        
    </head>

    <body>
        {{{body}}}
    <body>
</html>