<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style1.css" rel="stylesheet"/>
        <link href="/css/root.css" rel="stylesheet"/>
        <title>My Profile</title>
    </head>

    <body>

        {{{body}}}

    </body>
</html>