<div class="box1">

    <div class="boxContent1">

        <h1>Reply to Post</h1>
        <div class="spacer"></div>
        <form id="reply">
            <textarea id="post" name="post" placeholder="Text"></textarea>
            
        </form>

        <div class="bottom">
            <a href="/viewPost">
                <button class="back">Back</button>
            </a>
            <button type="submit" form="reply">Post</button>
        </div>
        
    </div>
        
</div>