 <div class="box3">

    <div class="boxContent2">

        <h1>Edit Post</h1>

        <form method="post" id="post-form">
            <input name = "title" type="text" id="title" value= "{{title}}">
            <textarea id="post" name="body">{{body}}</textarea>
        
            <div class="bottom">
                <a href onclick=history.back()>
                    <button class="back">Back</button>
                </a>
                <button type="submit" id="submit-fields">Post</button>
            </div>
        </form>
        
        
    </div>
        
</div>