 <div class="box3">

    <div class="boxContent2">

        <h1>Edit Post</h1>

        <form>
            <input type="text" id="title" placeholder="Title">
            <textarea id="post" name="post" placeholder="Title"></textarea>
        
            <div class="bottom">
                <a href="logged_in">
                    <button class="back">Back</button>
                </a>
                <button type="submit" id="submit-fields">Post</button>
            </div>
        </form>

        
        
        
    </div>
        
</div>