<div class="box1">

    <div class="boxContent1">

        <h1>Edit Comment</h1>
        <div class="spacer"></div>
        <form id="edit"  method="post" id="post-form">
            <textarea id="post" name="post" placeholder="Text">{{body}}</textarea>

            <div class="bottom">
                <a onclick=history.back()>
                    <button class="back">Back</button>
                </a>
                <button type="submit" form="edit">Post</button>
            </div>
            
        </form>
        
    </div>
        
</div>