 <div class="box3">

    <div class="boxContent2">

        <h1>Edit Profile</h1>

        <form method="post" id="post-form">
            <input name = "email" type="text" id="title" value= "{{email}}">
            <textarea id="post" name="description">{{description}}</textarea>
        </form>
         <div class="bottom">
            <a onclick=history.back()>
                <button class="back">Back</button>
            </a>
            <button type="submit" form = "post-form" id="submit-fields">Post</button>
        </div>
        
        
    </div>
        
</div>