 <div class="box3">

    <div class="boxContent2">

        <h1>Edit Post</h1>

        <form>
            
            <input type="text" id="title" placeholder="Title">
            <!-- <input type="text" id="text" placeholder="Text"> -->
            <textarea id="post" name="post">Text</textarea>
            <br>

            <div class="bottom2">
                <button type="submit">Post</button>
            </div>

        </form>
        
        
    </div>
        
</div>