
<div class="content">
  <div class="header">
    <div class="header-parts">
      <img class="logo" src="assets/sprites/Arryn House.png" alt="icon"></img> <!-- Supposed to be an icon -->
      <a href="#">
        <button class="nav-button">Home</button>
      </a>
      <a href="#">
        <button class="nav-button">Forum</button>
      </a>
    </div>
    <div class="header-parts">
      <a href="#">
        <button class="nav-button right-nav">Profile</button>
      </a>
      <div class="img-logout">
        <img class="icon" src="assets/sprites/myProfile_pic.png" alt="profile_pic">
        <a href="/">
          <button class="nav-button right-nav">Logout</button>
        </a>
      </div>
    </div> 
  </div>

  <input class="Search-bar" type="text" placeholder="Search..">

  <div class="nav2-container">
    <div class="nav-bar-2">
      <p>Sort By</p>
      <a href="#">
        <button class="nav-button">Recent</button>
      </a>
      <a href="#">
        <button class="nav-button">Popular</button>
      </a>
    </div>
    <div class="header-parts">
        <a href="profile">
          <button onclick="openProfile()" class="nav-button right-nav">Profile</button>
        </a>
        <div class="img-logout">
          <img class="icon" src="assets/sprites/myProfile_pic.png" alt="profile_pic">
          <a href="/">
              <button class="nav-button right-nav">Logout</button>
          </a>
        </div>
    </div> 
  </div>

  <div class="nav2-container">
    <input class="Search-bar" type="text" placeholder="Search..">
    <a href="/createPost">
        <button id="sign-up" class="create-post">Create Post</button>
    </a>

  </div>

  <div class="post-container"> 
    {{#each posts}}
    <div class ="post-fit">
      <a href="/viewpost">
        {{> post}}
      </a>
    </div>
    {{/each}}
  </div>
</div> 