<div class="content">
  <div class="header">
    <div class="header-parts">
      <img class="logo" src="assets/sprites/Arryn House.png" alt="icon"></img> <!-- Supposed to be an icon -->
      <a href="/recentPosts">
        <button class="nav-button">Recent</button>
      </a>
      <a href="/popularPosts">
        <button class="nav-button">Popular</button>
      </a>
    </div>
    <div class="header-parts">
        {{#if user}}
          <a href="/profile">
            <button class="nav-button right-nav">Profile</button>
          </a>
        {{/if}}
      <div class="img-logout">
        {{#if user}}
        <img class="icon" src="assets/sprites/default.png" alt="profile_pic">
        {{/if}}
        <a href="/">
          <button class="nav-button right-nav">Logout</button>
        </a>
      </div>
    </div> 
  </div>

  <div class="nav2-container">
    <input class="Search-bar" type="text" placeholder="Search..">

    {{{signUp user}}}

  </div>

  <div class="post-container"> 
    {{#each posts}}
    <div class ="post-fit">
      <a href= {{link postID}}>
        {{> post}}
      </a>
    </div>
    {{/each}}
  </div>
</div> 

<script>
  document.querySelector('.Search-bar').addEventListener('input', filterList);
  function filterList() {
    const searchInput = document.querySelector('.Search-bar');
    const filter = searchInput.value.toLowerCase();
    const listItems = document.querySelectorAll('.post-fit');

    listItems.forEach((item) =>{
      let text = item.textContent;
      if(text.toLowerCase().includes(filter.toLowerCase())) {
        item.style.display = '';
      }
      else {
        item.style.display = 'none';
      }
    });
  }
</script>