<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/root.css">
    <link rel="stylesheet" href="../public/css/sign_posts.css">
    <script src="scripts/main.js"></script>
    
</head>

<body>

    
    <div class="box2">
        <div class="boxContent1">
            <div class="topSign">
                <img src="assets/sprites/Arryn House.png">
                <h2>Sign In</h2>
            </div>
            <div id="error-container"></div>
            <form onsubmit="signIn()" name="signInForm" action="/" method = "post">
                <div class="inputs">
                    <input name = "username" type="text" id="username" placeholder="Username" autocomplete="username">
                    <input name = "password" type="password" id="password" placeholder="Password" autocomplete="off">
                </div>
                <div class="bottom">
                    <div>
                        <p>Don't have an account? <a href="register">Sign Up</a></p>
                        <p>Too lazy to make an account? <a href="homepage">Sign in as guest</a></p>
                    </div>
                    <button type="submit">Sign In</button> 
                </div>
            </form>
        </div>
    </div>


</body>
</html>

<!-- helow whai r u gei  -->