<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link href="css/style1.css" rel="stylesheet"/>
        <link href="css/root.css" rel="stylesheet"/>
        {{!-- <script src="assets/scripts/main.js"></script> --}}
        
    </head>

    <body>
        {{{body}}}
    </body>
</html>