<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title of Post</title>
    <link rel="stylesheet" href="../assets/posts.css">
    <link rel="stylesheet" href="../assets/root.css">
    <script src="assets/scripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>

<body>
    <div class="post">

        <div id ="postContent"> 
        </div>

        <div class="comments">
            <div class="comment-title">
                <img class="comment-icon" src="../assets/sprites/Icons/comment.png">
                <p class="comment-name">1 Comment</p>
            </div>

            <div id="commentBox">

            </div>

            <!-- <div id="comment2" class="box">
                <div class="right-comment">
                    <a href="profile.html">
                    <div class="user"> 
                        <img class="user-icon" src="../assets/sprites/myProfile_pic.png">
                        <div class="user-info">
                            <p class="username">Me</p>
                            <p class="date-commented">20 mins ago</p>
                        </div>
                    </div>
                    </a>
                    <div style="clear:both;" class="actl-comment">
                        <p class="content-comment">dobi!!</p>
                    </div>
                    <div class="reply">
                        <a href="reply.html">
                            <button id="reply" class="icon" type="button"></button>
                        </a>
                        <p>Reply</p>
                        <a href="editReply.html">
                            <button id="edit" class="icon" type="button"></button>
                        </a>
                        <p>Edit</p>
                        <a href="#">
                            <button id="delete" class="icon" type="button"></button>
                        </a>
                        <p>Delete</p>
                    </div>
                </div>
                <div class="up-down">
                    <p class="countUD"><a id="upclicks">0</a></p><button id="upvote" class="icon" type="button" onclick="increment()"></button>
                    <p class="countUD"><a id="downclicks">0</a></p><button id="downvote" class="icon" type="button" onclick="decrement()"></button>
                </div>
            </div> -->

            <!-- <div id="comment2" class="box">
                <div class="right-comment">
                    <a href="viewprofileC.html">
                    <div class="user"> 
                        <img class="user-icon" src="assets/sprites/comments/Whale.jpg">
                        <div class="user-info">
                            <p class="username">Whale</p>
                            <p class="date-commented">18 mins ago</p>
                        </div>
                    </div>
                    </a>
                    <div style="clear:both;" class="actl-comment">
                        <p class="content-comment">MINE!!!</p>
                    </div>
                    <div class="reply">
                        <a href="reply.html">
                            <button id="reply" class="icon" type="button"></button>
                        </a>
                        <p>Reply</p>
                    </div>
                </div>
                <div class="up-down">
                    <p class="countUD"><a id="upclicks">0</a></p><button id="upvote" class="icon" type="button" onclick="increment()"></button>
                    <p class="countUD"><a id="downclicks">0</a></p><button id="downvote" class="icon" type="button" onclick="decrement()"></button>
                </div>
            </div> -->
            
            <!-- <div id="comment2" class="box">
                <div class="right-comment">
                    <a href="profile.html">
                    <div class="user"> 
                        <img class="user-icon" src="assets/sprites/myProfile_pic.png">
                        <div class="user-info">
                            <p class="username">Me</p>
                            <p class="date-commented">15 mins ago</p>
                        </div>
                    </div>
                    </a>
                    <div style="clear:both;" class="actl-comment">
                        <p class="content-comment">okay.. huhu</p>
                    </div>
                    <div class="reply">
                        <a href="reply.html">
                            <button id="reply" class="icon" type="button"></button>
                        </a>
                        <p>Reply</p>
                        <a href="editReply.html">
                            <button id="edit" class="icon" type="button"></button>
                        </a>
                        <p>Edit</p>
                        <a href="#">
                            <button id="delete" class="icon" type="button"></button>
                        </a>
                        <p>Delete</p>
                    </div>
                </div>
                <div class="up-down">
                    <p class="countUD"><a id="upclicks">0</a></p><button id="upvote" class="icon" type="button" onclick="increment()"></button>
                    <p class="countUD"><a id="downclicks">0</a></p><button id="downvote" class="icon" type="button" onclick="decrement()"></button>
                </div>
            </div> -->
            
        </div>


        <div class="bottom-buttons">
            <a href="logged_in.html">
                <button class="bot-button">Back</button>
            </a>
            <a href="reply.html">
                <button class="bot-button">Reply</button>
            </a>
        </div>
    </div>

    <script id="postTemp" type="text/x-handlebars">
        <div class="post-header">
            <div>
                <p class="title">{{title}}</p>
                <p class="date-posted">{{datePosted}}
                    {{#if edited}}
                        {{edited}}
                    {{/if}}
                </p>
                <p class="posted-by">by {{username}}</p>
            </div>
            <div class="outer-total-votes">
                <p class="count">{{upvote}}</p><img src="assets/voting-arrow/up-arrow.png" alt="Up-Arrow">
                <p class="count">{{downvote}}</p> <img src="assets/voting-arrow/down-arrow.png" alt="Down-Arrow">
            </div>
        </div>

        <div id="content-box" class="box">
            <p>{{body}}</p>
    </script>

    <script id="commentTemp" type="text/x-handlebars">
        <div id="comment1" class="box">
                <div class="right-comment">
                    <a href="viewprofileA.html">
                        <div class="user"> 
                            <img class="user-icon" src="../assets/sprites/comments/Turtle.jpg">
                            <div class="user-info">
                                <p class="username">{{username}}</p>
                                <p class="date-commented">{{datePosted}}
                                    {{#if edited}}
                                        {{edited}}
                                    {{/if}}
                                </p>
                            </div>
                        </div>
                    </a>
                    <div style="clear:both;" class="actl-comment">
                        <p class="content-comment">{{body}}</p>
                    </div>
                    <div class="reply">
                        <a href="reply.html">
                        <button id="reply" class="icon" type="button"></button>
                        </a>
                        <p>Reply</p>
                    </div>
                </div>
                <div class="up-down">
                    <p class="countUD"><a id="upclicks">{{upvote}}</a></p><button id="upvote" class="icon" type="button" onclick="increment()"></button>
                    <p class="countUD"><a id="downclicks">{{downvote}}</a></p><button id="downvote" class="icon" type="button" onclick="decrement()"></button>
                </div>
            </div>
    </script>

    <script src="assets/scripts/handlebars.js"></script>
</body>
</html>