/* html {
    background: #041536;
    font-family: 'Roboto';
} */

.page {
    height: 80%;
    width: 90%;
    position: relative;
}

.navbar {
    background-color: #D9D9D9;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 675px;
    padding: 0px 20px;
}

.navbar, .header, .stats, .navbar2 {
    border-radius: 20px;
}

.header-parts, .navbar2{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.logo {
    margin: 3px 10px 5px -5px;
    min-height: 55px;
    min-width: 55px;
    height: 55px;
    width: 55px;
    float: left;
}

.nav-button, .create-post, .editprofbtn {
    border: none;
    background: #1758D7;
    padding: 3px 20px;
    font-size: 16px;
    font-family: 'Roboto';
    cursor: pointer;
    transition: 0.8s;
    border-radius: 20px;
    color: #FFFFFF;
}

.logout {
    min-width: 150px;
    display: flex;
    justify-content: right;
    gap: 20px;
}

.header{
    background-color: #D9D9D9;
    margin-top: 20px;
    display: flex;
    width: 100%;
    min-width: 675px;
    padding: 0px 20px;
}

.content {
    max-height: 500px;
    width: 100%;
    padding: 20px;
    display: flex;
    /* margin: auto; */
}

.right {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 2em;
    width: 100%;
}

.name{
    font-size: 24px;
    font-weight: 700;
    margin: 30px 0px 0px;
    padding-left: 7.5px;
}

.email{
    font-size: 16px;
    font-weight: 500;
    padding-left: 7.5px;
}

.aboutme {
    display: flex;
    padding-left: 7.5px;
    font-size: 20px;
    font-weight: 700;
}

.description{
    padding-left: 7.5px;
    display: flex;
    font-size: 16px;
    font-weight: 600;

}

.editprofbtn {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
    float: right;
}

.stats {
    background-color: #A5A5A5;
    width: 60%;
    max-width: 380px;
    height: 12%;
    display: inline-flex;
    position: relative;
    justify-content: space-evenly;
}

.inside {
    display: flex;
    gap: 10px;
    justify-content: center;
    line-height: 2px;
    position: relative;
}

.spacer {
    padding: 3px;
}

.sortbar {
    display: flex;
    width: 100%;
    max-height: 49px;
    margin: 40px 0px;
    min-width: 675px;
    width: 100%;
    padding: 0px 20px;
    
}

.navbar2 {
    flex-grow: 1;
    align-items: center;
    background-color: #D9D9D9;
    padding: 20px;
    margin-left: 0px;
    max-width: 30%;
    min-width: 290px;
}

.Searchbar {
    padding-left: 10px;
    border-radius: 20px;
    width: 70%;
    height: 43px;
    margin-left:20px;
}
#createpost {
    min-height: 50px;
}

.userpost {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    column-count: 3;
    margin-top: 20px;
    
}

.post-fit {
    display: inline-block;
    min-height: 250px;
}

.post-fit:hover {
    box-shadow: 0 0 0 3px grey;
}

.userpost > * {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.post-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 220px;
}

.header-post-item {
    display: flex;
    justify-content: space-between;
}

.left-align {
    text-align: left;
}

.post-title {
    font-size: 20px;
    margin: 0px 5px 0px 0px;
}

.outer-date-posted, .author {
    margin: 0;
    color: #9C9C9C;
    font-size: 12.5px;
}

.outer-total-votes, .post-info {
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-family: 'Roboto';
    height: 32px;
}

#outer-upvote {
    background: url('voting-arrow/up-arrow.png') no-repeat;
    background-size: 100%;
    min-height: 16px;
    min-width: 16px;
    max-width: 25px;
    max-height: 25px;
}

.outer-arrow {
    border: 0;
    display: inline-block;
}

.outer-count {
    text-align: center;
    margin: 0px;
    font-size: 15px;
}

#outer-downvote {
    background: url('voting-arrow/down-arrow.png') no-repeat;
    background-size: 100%;
    min-height: 16px;
    min-width: 16px;
    max-width: 25px;
    max-height: 25px;
}

.comment-section {
    padding: 10px;
    margin-bottom: 3px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    background-color: #A5A5A5;
    margin: 3px;
    width: 100%;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}

.top-comment {
    color: #000000;
    font-size: 15px;
    margin: 3px;
    text-align: left;
    white-space: nowrap;
}

.profile-pic {
    width: 255px;
    height: 255px;
    float: left;

}

.post-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
}

.post-container > * {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 3px;
    /* flex: 0 0 33.3333%; */
    flex: 1 1 300px;
}

.post-fit{
    display: inline-block;
    /* margin: 10px;
    margin-left: 0px;  */
    min-height: 250px;
    max-height: 250px;
}

.post-fit:hover {
    box-shadow: 0 0 0 3px grey;
}

.post-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 220px;
}

.header-post-item{
    display: flex;
    justify-content: space-between;
}

.author-date {
    display: flex;
    flex-direction: column;
}

#outer-upvote:hover, #outer-upvote:focus{
    background: url("../assets/voting-arrow/fc-up.png") no-repeat;
    background-size: 100%;
}

#outer-downvote:hover, #outer-downvote:focus{
    background: url("../assets/voting-arrow/fc-down.png") no-repeat;
    background-size: 100%;
}

#outer-upvote{
	background: url("../assets/voting-arrow/up-arrow.png") no-repeat;
    background-size: 100%;

    min-height: 25px;
    min-width: 25px;
    max-width: 32px;
    max-height: 32px;

}

#outer-downvote{
	background: url("../assets/voting-arrow/down-arrow.png") no-repeat;
    background-size: 100%;

    min-height: 25px;
    min-width: 25px;
    max-width: 32px;
    max-height: 32px;
    /* margin-bottom: -10px; */
}

a {
    text-decoration: none;
}

a:visited , a{
    color: black;
}