@font-face {
    font-family: 'Roboto';
    src: url(sprites/fonts/roboto/Roboto-Black.ttf);
}
:root {
    --primary-color: #041536;
    font-family: 'Roboto';
}


* {
    box-sizing: border-box;
}


.logo {
    margin: 3px 10px 5px 10px;
    min-height: 55px;
    min-width: 55px;
    height: 55px; 
    width: 55px; 
}

.nav2_bar, .header {
    border-radius: 20px;
}

body {
    background: #041536;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    height: 90%;
    width: 90%;
    position: relative;
    margin: 45px 0px;
}

.header{
    background-color: #D9D9D9;
    display: inline-block; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 675px;
    padding: 3px;
}

.header_title {
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
}

.nav_button, .create_post {
    border: none;
    background: #1758D7;
    padding: 3px 20px;
    font-size: 16px;
    font-family: 'Roboto';
    cursor: pointer;
    transition: 0.8s;
    border-radius: 20px;
    color: #FFFFFF;
}

.create_post{
    flex-grow: 0.025;
}

.nav_button{
    margin-top: 20px;
    margin-right: 10px;
}

.right_nav{
    margin-top:13px;
}

.logo{
    float:left;
}

.icon{
    width: 47.5px; 
    height: 47.5px; 
    float:left;
    margin-right: 10px;
}


.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

.nav_button:hover, .create_post:hover{
    color: #3498db;
} 

a {
    text-decoration: none;
}

.nav_bar_2{
    display: flex;
    flex-grow: 0.925;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 20px;
}

.nav_bar_2 > p {
    margin-right: 10px;
}

.nav_bar_2 > a{
    margin-top: -17.5px;
}

.Search_bar {
    border-radius: 20px;
    
}

.container {
    display: flex;
    width: 100%;
    max-height: 49px;
    margin-bottom: 20px;
    min-width: 675px;
}

.create_post {
    /* width: 165px; */
    /* height: 40px; */
    margin: 0;
    margin-left: auto;
}

.post_container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    
    gap: 19px 15px;
    width: 100%;
    /* max-width: 1065px;
    max-height: 461px; */

}

.post_container > * {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.Search_bar {
    margin-top: 42px;
    padding-left: 10px;
    margin-bottom: 33px;
    width: 340px;
    height: 40px;
}


.header-parts{
    display: flex;
    flex-direction: row;
    min-width: 300px;
    max-height: 60px;
}

.img-logout{
    min-width: 150px;
}

.post-fit{
    display: inline-block;
}

.post-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 220px;
}

.comment_section {
    margin-bottom: 3px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    text-align: left;
    white-space: nowrap;
    background-color: #A5A5A5;
    margin-bottom: 3px;
    width: 100%;
    color: white;
    color: #000000;
    border-radius: 10px;
    font-size: 8px;
    height: 30px;
}

.header-post-item{
    display: flex;
    justify-content: space-between;
}

.post-title{
    font-size: 20px;
    margin: 0px 5px 0px 0px;
}

.left-align{
    text-align: left;
}

.date-posted{
    margin: 0;
    color: #9C9C9C;
    font-size: 12.5px;
}

.total-votes, .post-info{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    height: 32px;
    min-width: 115px; 
    margin-right: 5px;
}

.count{
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

.arrow{
    margin: 5px 3px 0px 3px;
    max-height: 75%;
    max-width: 75%;
}