@font-face {
    font-family: 'Roboto';
    src: url(sprites/fonts/roboto/Roboto-Black.ttf);
}

:root {
    --primary-color: #041536;
    font-family: 'Roboto';
    background-color: #041536;
}
/*SIGN UP/IN CREATE/EDIT POST*/

.box1 {
    background-color: #FFFFFF; 
    border-radius: 15px;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    width: 80%;
    height: 80%;
}


.boxContent1 {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    /* background-color: yellow; */
    width: 80%;
    height: 60%;
}


form{
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

button{
    color: #FFFFFF;
    background-color: #1758D7;
    width: 163px;
    height: 62px;
    border-radius: 15px;
    float: right;
    border-width: 0px;
    font-family: 'Roboto';
}


textarea{
    width:97%;
    min-height: 180px;
    margin-bottom: 10px;
    border-width: 0px;
    background-color: #EAEAEA;
    border-radius: 10px;
    color:#9C9C9C;
    font-family: 'Roboto';
    padding: 2%;
    font-size: medium;
}

.back{
    margin-right: 10px;
}
