@font-face {
    font-family: 'Roboto';
    src: url(sprites/fonts/roboto/Roboto-Black.ttf);
}

:root {
    --primary-color: #041536;
    font-family: 'Roboto';
    
}

body {
    background: linear-gradient(to top, #090f19 0% , #041536 100%);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width:80%;
    margin:auto;
}

/* html {
    height: 100%;
} */
