@font-face {
    font-family: 'Roboto';
    src: url(sprites/fonts/roboto/Roboto-Black.ttf);
}

.page {
    width:80%;
    margin:auto;
}

html {
    background: #041536;
    font-family: 'Roboto';
}

.head {
    display:flex;
    color: #ffff;
    justify-content: space-between;
}

.left {
    width: 30%;
}

.right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.bottom {
    display:flex;
}

.customer {
    background-image: url("sprites/editprof.png");
    background-repeat: no-repeat;

}

.trash {
    background: url("sprites/Trash.png");
	
}

.hand {
    background: url("sprites/Hand\ With\ Pen.png");
}

.home, .bigword {
    border-radius: 20px;
    padding: 1em;
    background-color: #1758D7;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border: none;
}

.home {
    font-size: 15px;
    margin-left: 84%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bigword {
    margin-left: 1em;
}

.about {
    padding:1em;
    background-color: white;
    border-radius: 1em;
    min-height: 100px;
    margin-top: 1em;
}

.aboutme {
    padding-bottom: 2em;
    padding-left: 7.5px;
}

.description{
    padding-left: 7.5px;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.post {
    background: white;
    border-radius: 1em;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
}

.content {
    background-color: #D9D9D9;
    min-height: 230px;
    flex: 1;
    border-radius: 5px;
    margin: 0.5em;
}

.urpost {
    padding-left: 7.5px;
}
