<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/sign_posts.css">
    <link rel="stylesheet" href="assets/root.css">

    <!-- <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script> -->
    
    <script src="assets/scripts/script.js" defer></script>
    <script src="assets/scripts/main.js" defer></script>
    
    
</head>

<body>
    <div class="box3">
        <div class="boxContent2">
            <h1>Create Post</h1>
            <form onsubmit="createPost()" method="post" id="post-form">
                <div class="inputs">
                    <input name = "title" id="post-title" type="text"  placeholder="Title">
                    <textarea name = "postBody" id="post-body" name="post" placeholder="Text"></textarea>
                </div>
                <button type="submit" id="submit-fields">Post</button>
            </form>
            <div class="bottom-2">
                <a href="logged_in">
                    <button class="back">Back</button>
                </a>
            </div>
        </div>

        <div class="post-container"></div>
        
    </div>


    
</body>

</html>

<!-- helow whai r u gei  -->