<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/sign_posts.css">
    <script src="scripts/main.js"></script>
    
</head>

<body>
    <div class="box3">
        <div class="boxContent2">
            <h1>Edit Post</h1>
            <form>
                <input type="text" id="title" placeholder="Title">
                <!-- <input type="text" id="text" placeholder="Text"> -->
                <textarea id="post" name="post">Text</textarea>
                <br>
                <div class="bottom2">
                    <button type="submit">Post</button>
                </div>
            </form>
            
            
        </div>
        
    </div>


    
</body>
</html>

<!-- helow whai r u gei  -->